<a href="https://colab.research.google.com/github/Adkurrr/Adkurrr/blob/main/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [17]:
#baca file
df = pd.read_csv('https://raw.githubusercontent.com/adekur13/waham/main/(RAW)dinkes-od_17485_jumlah_ibu_hamil_berdasarkan_kabupatenkota_data.csv')
df.head()

,id,kode_provinsi,nama_provinsi,kode_kabupaten_kota,nama_kabupaten_kota,jumlah_ibu_hamil,satuan,tahun
0,1,32,JAWA BARAT,3201,KABUPATEN BOGOR,126474,ORANG,2016
1,2,32,JAWA BARAT,3202,KABUPATEN SUKABUMI,51056,ORANG,2016
2,3,32,JAWA BARAT,3203,KABUPATEN CIANJUR,46284,ORANG,2016
3,4,32,JAWA BARAT,3204,KABUPATEN BANDUNG,79912,ORANG,2016
4,5,32,JAWA BARAT,3205,KABUPATEN GARUT,62514,ORANG,2016

Praproses

In [12]:
#mengecek apakah ada data yang kosong
is_null = df.isnull().any().any()
print(is_null)

False

In [20]:
#mengambil kolom yang akan digunakan
df.columns

Index(['id', 'kode_provinsi', 'nama_provinsi', 'kode_kabupaten_kota',
       'nama_kabupaten_kota', 'jumlah_ibu_hamil', 'satuan', 'tahun'],
      dtype='object')

In [24]:
selected_columns = ['id', 'kode_kabupaten_kota', 'nama_kabupaten_kota', 'jumlah_ibu_hamil', 'tahun']
selected_data = df.loc[:, selected_columns]
selected_data

      id  kode_kabupaten_kota nama_kabupaten_kota  jumlah_ibu_hamil  tahun
0      1                 3201     KABUPATEN BOGOR            126474   2016
1      2                 3202  KABUPATEN SUKABUMI             51056   2016
2      3                 3203   KABUPATEN CIANJUR             46284   2016
3      4                 3204   KABUPATEN BANDUNG             79912   2016
4      5                 3205     KABUPATEN GARUT             62514   2016
..   ...                  ...                 ...               ...    ...
130  131                 3275         KOTA BEKASI             57307   2020
131  132                 3276          KOTA DEPOK             48928   2020
132  133                 3277         KOTA CIMAHI             11528   2020
133  134                 3278    KOTA TASIKMALAYA             12181   2020
134  135                 3279         KOTA BANJAR              3104   2020

[135 rows x 5 columns]

In [27]:
#cek tipe data
selected_data.dtypes

id                      int64
kode_kabupaten_kota     int64
nama_kabupaten_kota    object
jumlah_ibu_hamil        int64
tahun                   int64
dtype: object

In [30]:
selected_data['tahun'] = selected_data['tahun'].astype(str)

In [31]:
selected_data.dtypes

id                      int64
kode_kabupaten_kota     int64
nama_kabupaten_kota    object
jumlah_ibu_hamil        int64
tahun                  object
dtype: object